.project-wrap{
  height:100%;
  width:100%;
  overflow-y: scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  @include clearfix;
}
.project {
  -webkit-backface-visibility: hidden;
  max-width: $max-width;
  margin: 6rem auto 0 auto;
  padding: 0 3rem;
  .mobile &{
    margin: 0 auto;
    padding: 4.5rem 1.5rem 0 1.5rem;
  }
}
.project-section {
  @include clearfix;
  .assets, .text {
    margin-bottom: 2rem;
  }
  .assets-wrap{

  }
  .asset-wrap{
    margin-bottom:2rem;
    position: relative;
  }
  .asset{
    position:relative;
    background: rgba(120,120,120,0.1);
    img, video{
      @include absfull();
    }
    &.vimeo{
      height:0;
      iframe{
        @include absfull();
      }
    }
  }
  &.browser{
    .assets-wrap{
      padding-bottom:1px;
    }
  }
  &.cycle{
    .assets-wrap{
      position: relative;
      width: 100%;
      @include silver-bullet();

      margin-bottom:2rem;
    }
    .cycle-next-button{
      position:absolute;
      top:0;
      left:50%;
      bottom:0;
      right:0;
      // cursor: url('/styles/images/right-arrow-cursor-big4.svg'), e-resize;
      cursor:pointer;
      z-index:15;
      display:none;
    }
    .cycle-prev-button{
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:50%;
      // cursor: url('/styles/images/left-arrow-cursor.svg'), w-resize;
      cursor:pointer;
      z-index:15;
      display:none;
    }
    // &.white-arrows{
    // 	.cycle-next{
    // 		// cursor: url('/styles/images/right-arrow-cursor-white.svg'), e-resize;
    // 		cursor:pointer;
    // 	}
    // 	.cycle-prev{
    // 		// cursor: url('/styles/images/left-arrow-cursor-white.svg'), e-resize;
    // 		cursor:pointer;
    // 	}
    // }
    .asset{
      background:none;
    }
    .assets {
      margin-bottom:0;
      background: rgba(120,120,120,0.1);
      .asset-wrap{
        opacity:0;
        margin-bottom:0;
        position:absolute;
        width:100%;
        display:none;

        &.cycle-previous{
          z-index:9;
          opacity:1;
          display:block;
        }
        &.cycle-current{
          z-index:10;
          opacity:1;
          display:block;
        }
        &.cycle-next{
          z-index:11;
          opacity:0;
          display:block;
        }
      }
    }
  }
  &.cycle.fade{
    .assets-wrap{
      .assets{
        .asset-wrap{
          @include transition(opacity 1s);
          &.cycle-previous{
            @include transition-delay(1s);
            // @include transition(opacity 1ms);
            opacity:0;
          }
        }
      }
    }
  }
  &.grid {
    .assets{
      @include clearfix;
      margin-bottom: 0;
    }
    .asset-wrap {
      @include span-columns(6);
    }
  }
  &.ipad-portrait{
    .asset-wrap{
      position:relative;
      text-align:center;
      margin-bottom: 4rem
    }
    .asset video, .asset img{
      border-style: solid;
      border-width: 5vh 2vh 5vh 2vh;
      border-color: $black;
      border-radius: 2.5vh;
      vertical-align: bottom;
      background: $black;
      height: 80vh;
    }
    .asset:before{
      content:" ";
      position:absolute;
      z-index: 20;
      background:	lighten($black,10%);
      width:1vh;
      height:1vh;
      top:2vh;
      left:50%;
      border-radius:0.5vh;
      margin-left:-0.5vh 0 0 -0.5vh;
    }
    .asset:after{
      content:" ";
      position:absolute;
      z-index: 20;
      border-style: solid;
      border-color: lighten($black,10%);
      border-width:2px;
      width:3vh;
      height:3vh;
      top:77.5vh;
      left:50%;
      border-radius:1.5vh;
      margin:-1.5vh 0 0 -1.5vh;
      box-sizing:border-box;
    }
  }
  .hide-extra{
    .text {
      @include shift(4);
      .mobile & {
        @include shift(0);
      }
    }
  }
  .text {
    @include span-columns(8);

    .mobile & {
      @include span-columns(12);
    }
  }
  .text-content{
    a {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
    p {

      margin-bottom: 1rem;
      &:first-child {}
      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }
  .text-content-discipline{
    a{
      margin:0 0 0 0.4em;
      padding:0;
    }
  }
  .break{
    height: 1rem;
  }
  .extra {
    @include span-columns(4);
    .mobile & {
      @include span-columns(12);
      margin-bottom: 1rem;
    }
  }

  .iframe-wrap{
    position:relative;
    width:100%;
    padding-bottom: 50%;
    margin-bottom: 2rem;
    iframe{
      border:none;
      position: absolute;
      width:100%;
      height:100%;
    }
  }

}

.scroll-end {
  .related-projects {
    opacity: 1;
    @include transform(translateY(0%));
    @include transition(0.5s);
  }
}
.related {
  @include clearfix;
  overflow: hidden;
  position: relative;
  padding: 0 3rem;
  max-width: $max-width;
  margin: 0 auto 0 auto;
  @include transform(translateZ(0));
  .mobile &{
    padding: 0 1.5rem;
    display:none;
  }
}
.related-projects {
  padding: 9rem 0 1.5em 0;
  opacity:0;
  @include clearfix;
  @include transform(translateY(120%));
  @include transition(0.5s);
}
.no-touch .related-projects{
  &.hide-related, &.hide-related-remove{
    opacity:0.2;
    -webkit-filter: #{"grayscale(1)"};
    .title{
      opacity:0.5;
    }
  }
}
.related-project {
  @include span-columns(4);
  .mobile & {
    @include span-columns(6);
    &:nth-child(2n){
      margin-right:0;
    }
    &:last-child{
      display:none;
    }
  }
  .title{
    margin-top:0.7rem;
    height:1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include transition(0.5s);
  }
}
.project-next-prev{
  padding: 0 1.5rem 1.5rem 1.5rem;
  @include clearfix;
  a{
    display:block;
    float:left;
    width:50%;
    position:relative;
  }
  .project-next-prev-prev{
    .title{
      margin-left:1.5rem;
    }
  }
  .project-next-prev-next{
    text-align:right;
    .arrow{
      right:0;
    }
  }
  .arrow{
    position:absolute;
    top:0;
  }
  .title{
    width:87%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
