$max-width: 70rem;

.information {
  overflow-y: scroll;
  overflow-x: hidden;
  height:100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  a {
    text-decoration: underline;
  }
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

.profile{
  padding-top:4rem;
  @include user-select();
}
.contact{
  padding:0 1.5rem 1.5rem 1.5rem;
  span{
    display:block;
  }
  div{
    padding-bottom:0.5rem;
  }
  .contact-left, .contact-right{
    max-width: $max-width - 3rem;
    margin:auto;
  }
}
.cycle-counter{
  display:none;
}
.profile-text{
  max-width: $max-width;
  margin: auto;
  padding: 1.5rem;
  p {
    @include smart-underline($red, $white, $dark-gray, 100%, 1px);
    font-size: 1.6em;
    line-height:130%;
  }

}
@include media(min-width 1070px min-height 600px){
  .profile {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
  }
  .profile-text{
    position:absolute;
    width:100%;
    // height:100%;
    // max-width:100%;
    @include transform(translateY(-50%) translateX(-50%));
    // position:absolute;
    width:80rem;
    top:50%;
    left:50%;
    p{
      padding:0;
      text-align:center;
      font-size:2.8em;
      margin-bottom:2rem;
      @include smart-underline($red, $white, $dark-gray, 100%, 2px);
    }
  }
  .contact {
    @include smart-underline($red, $white, $dark-gray, 100%);
    span{
      display:inline;
    }
    div{
      padding:0;
    }
    .contact-left, .contact-right{
      position:fixed;

      bottom:0;
      padding:1.5rem;

      div{
        display:inline-block;
        padding-right: 0.5rem;

      }
      span{
        display:inline-block;
        padding-bottom:0.3em;
      }
    }
    .contact-left{
      left:0;
    }
    .contact-right{
      right:0;
    }
  }
}

@include media(min-height 600px max-height 700px){
  .profile-text{
    p{
      font-size: 2.35em;
    }
  }
}
