<div>
  <div class="nav-wrap">
    <a href="/projects/featured/" class="nav-projects">Projects</a>
    <a href="/projects/featured/" class="nav-featured">Featured</a>
    <a href="/projects/interaction/" class="nav-interaction">Interaction</a>
    <a href="/projects/user_interface/" class="nav-user-interface">User Interface</a>
    <a href="/projects/art_direction/" class="nav-art-direction">Art Direction</a>
    <a href="/projects/identity/" class="nav-identity">Identity</a>
    <a href="/projects/video/" class="nav-video">Video</a>
    <a href="/vitals/" class="nav-covers">Vitals</a>
    <a href="/information/" class="nav-information">Information</a>
  </div>
  <div class="active-wrap" ng-click="toggleMenu()">
    <div class="active-overflow">
      <div class="active" ng-class="{ arrow: primary.arrow }" ng-bind="primary.text">
      </div>
      <div class="active" ng-class="{ arrow: secondary.arrow }" ng-bind="secondary.text">
      </div>
      <div class="active" ng-class="{ arrow: tertiary.arrow }" ng-bind="tertiary.text" >
      </div>
    </div>
  </div>
  <h1><a href="/">M-JO.CO</a></h1>
  <div class="burger" ng-click="toggleMenu()">
    &#9776;
  </div>
</div>
