.cover {
  width: 100%;
  height: 100%;
  overflow:hidden;
  iframe {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .unsupported{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
  }
  a{
    text-decoration: underline;
  }
}

.no-touch .main-landing{
  .nav-wrap {
    .nav-projects,
    .nav-information {
      display: inline-block;
    }
    a{
      display: none;
    }
  }
}
